
<ul>
    <li>
        <a routerLink="/categories">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>Store</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/shopping-lists">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>Shopping Lists</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/order-history">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>Order History</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/account">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>My Account</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/login-register">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>Login/Register</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/help">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>Help</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/faq">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>FAQ</span>
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/about">
            <span>
                <i class="pull-right icon-chevron-right"></i>
                <span>About</span>
            </span>
        </a>
    </li>
</ul>